body {
    margin:0 auto;
    width: 100%;
    height: 100%
}
ul {
    padding: 0px!important;
}
.menu-principal {
    width: 100%;
    background-color: black;
    height: 60px;
}
main {
    margin: 0 auto;
    width: 980px;
    position: relative;
}
.logo {
    float:left;
    padding: 3px;
    width: 10%;
}
.redes-sociais ul li {
    margin-left: 8px;
    display: inline-block;
    float:left;
    list-style: none;
}
.redes-sociais {
    float: right;
}
.header-2 {
    background-color: white;
    width: 980px;
    margin: 0 auto;
    padding: 16px;
}
.menu-urls {
    height: 80px;
    border-bottom: 3px solid lightslategray ;
}
.menu ul li {
    display: inline-block;
    margin: 5px;
}
.menu ul li a{
    color: gray;
    text-decoration: none;
    font-size: 16px;
    /*text-transform: uppercase;*/
}
.menu {
    width: 60%;
    float:left;
}
.pesquisar{
    text-align: center;
    width: 40%;
    float: right;
    
}
.pesquisar input {
    background-image: url('../img/pesquisar.png');
    background-repeat: no-repeat;
    background-position: 95%;
    height: 21px;
    padding: 18px;
    width: 190px;
    margin-top: 10px;
}
.col-100 {
    width: 100%;
    float:left;
     position: relative;
}